@import '../../scss/variables.scss';

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 20rem;

  &__line {
    border: 1px solid $lightgray;
  }

  &__container {
    position: relative;
  }

  &__social {
    display: flex;
    gap: 4rem;
  }

  &__img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  &__logo {
    width: 10rem;
    cursor: pointer;
  }

  &__blur_l {
    width: 26rem;
    height: 15rem;
    left: 20%;
    background: rgb(204, 113, 38);
  }
  &__blur_r {
    width: 26rem;
    height: 15rem;
    right: 15%;
    background-color: lightcoral;
  }
}
