@import '../../scss/variables.scss';

.testimonials {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__leftside {
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  &__rightside {
    position: relative;
    flex: 1;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  &__subtitle {
    color: $orange;
    font-weight: bold;
  }

  &__title {
    font-weight: bold;
    font-size: 3rem;

    @media (max-width: 768px) {
      font-size: xx-large;
    }
  }

  &__slider {
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
  }

  &__img {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;

    @media (max-width: 768px) {
      top: 0;
      right: 0;
      position: relative;
      align-self: center;
    }
  }

  &__arrows {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;

    @media (max-width: 768px) {
      position: relative;
      bottom: 0;
      left: 0;
    }
  }

  &__arrow {
    width: 1.5rem;
    cursor: pointer;
  }

  &__rectangle {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid orange;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
    @media (max-width: 768px) {
      display: none;
      position: relative;
    }
  }

  &__back_rectangle {
    position: absolute;
    width: 17rem;
    height: 19rem;
    right: 7rem;
    top: 4rem;
    background: $planCard;
    @media (max-width: 768px) {
      display: none;
      position: relative;
    }
  }
}
